#log .progress {
    margin: 0px;
    height: 31px;
    text-align: center;
}

#log .progress-bar {
    padding-top: 6px;
    padding-bottom: 6px;
}

#log .massive-font {
    font-size: 15px;
    text-align: center;
}

#log #data {
    margin-bottom: 20px;
}