#home {
    margin-top: 20px;
    margin-bottom: 20px;
}

#home h4 {
    margin-top: 30px;
}

#home p {
    margin-bottom: 10px;
    text-align: justify;
}

#home #videoPlayer {
    margin-left: auto;
    margin-right: auto;
}