#simulations {
    margin-top: 20px;
    margin-bottom: 20px;
}

#simulations #formInput {
    margin: 0px;
}

#simulations .progress {
    margin: 0px;
    text-align: center;
}

#simulations hr {
    margin-top: 30px;
    margin-bottom: 20px;
}